<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DynamoDB-Create</title>
    <link rel="stylesheet" href="static/bootstrap.min.css">
    <link rel="stylesheet" href="static/bootstrap-theme.min.css">
    <link rel="stylesheet" href="static/bootstrap-select.min.css">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <style>
        body{background: aliceblue}
        .main{
            background: azure;
            margin-top: 40px;
            border: solid 3px #ffcc8a;
            padding: 30px 40px 70px 60px;
        }

        .crt-h2{
            font-size: 28px;
            font-weight: bold;
            margin-bottom: 25px;
        }
        .sort-key{
            display: none;
        }
        .md-sort-key {
            display: none;
        }
    </style>
</head>
<body>

<!-- Modal -->
<div class="modal fade" id="gsi-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">

    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Add index</h4>
      </div>

      <div class="modal-body">
        <div class="row">
          <form class="form-horizontal" role="form">
            <div class="form-group">
              <div class="col-sm-offset-1">
                <div style="margin-bottom: 15px;margin-left: 50px">
                      <label for="mdInputPrimaryKey" class="control-label">Primary key  *</label>
                      <span style="margin-left: 20px;">Partition key</span>
                    </div>

                    <div>
                      <div class="col-sm-offset-2 col-sm-3">
                        <input type="text" class="form-control" id="mdInputPrimaryKey" name="mdPrimaryKey">
                      </div>
                        <select id="mdPrimaryKeyType" class="selectpicker mdSelect" data-width="100px">
                          <option value ="String">String</option>
                          <option value="Number">Number</option>
                          <option value ="Binary">Binary</option>
                        </select>
                    </div>

                    <div class="checkbox col-sm-12" style="margin-bottom: 8px">
                      <label class="col-sm-offset-2">
                        <input id="md-sort-check" class="md-sort-check" type="checkbox" >Add sort key
                      </label>
                    </div>

                    <div class="md-sort-key">
                      <div class="col-sm-offset-2 col-sm-3">
                        <input id="mdInputSortKey" type="text" class="form-control" name="mdInputSortKey">
                      </div>
                        <select id="mdSortKeyType" class="selectpicker mdSelect" data-width="100px">
                          <option value="String">String</option>
                          <option value="Number">Number</option>
                          <option value="Binary">Binary</option>
                        </select>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label for="mdIndexName" class="control-label col-sm-3">Index name  *</label>
                  <div id="divToke" class="col-sm-3">
                    <input id="mdIndexName" type="text" class="form-control" name="mdIndexName">
                  </div>
                </div>

                <div class="form-group">
                  <label for="mdProAttr" class="control-label col-sm-3">Projected attributes</label>
                  <div class="col-sm-3">
                      <select id="mdProAttr" class="selectpicker mdSelect" data-width="205px">
                          <option value="ALL">All</option>
                          <option value="KEYS_ONLY">Keys_only</option>
                      </select>
                  </div>
                </div>
         </form>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Canel</button>
        <button id="mdSave" type="button" class="btn btn-primary">Save</button>
      </div>
    </div>
  </div>
  </div>
</div> <!-- modal-->

    <div class="container">
        <div class="row">

            <div class="main">
                <h2 class="crt-h2">Create DynamoDB table</h2>

                <form class="form-horizontal" role="form">
                  <div class="form-group">
                    <label for="inputTableName" class="col-sm-2 control-label">Table name*</label>
                    <div class="col-sm-3">
                      <input id="inputTableName" type="text" class="form-control" name="TableName">
                    </div>
                  </div>

                  <div class="form-group">
                    <div class="col-sm-offset-1" style="margin-bottom: 15px">
                      <label for="inputPrimaryKey" class="control-label">Primary key  *</label>
                      <span style="margin-left: 20px;">Partition key</span>
                    </div>
                    <div>
                      <div class="col-sm-offset-2 col-sm-3">
                        <input id="inputPrimaryKey" type="text" class="form-control" name="PrimaryKey">
                      </div>
                        <select id="PrimaryKeyType" class="selectpicker" data-width="100px">
                          <option value ="String">String</option>
                          <option value="Number">Number</option>
                          <option value ="Binary">Binary</option>
                        </select>
                    </div>

                    <div class="checkbox col-sm-12" style="margin-bottom: 8px">
                      <label class="col-sm-offset-2">
                        <input class="sort-check" type="checkbox" >Add sort key
                      </label>
                    </div>

                    <div class="sort-key">
                      <div class="col-sm-offset-2 col-sm-3">
                        <input id="inputSortKey" type="text" class="form-control"  name="SortKey">
                      </div>
                        <select id="SortKeyType" class="selectpicker" data-width="100px">
                          <option value ="String">String</option>
                          <option value="Number">Number</option>
                          <option value ="Binary">Binary</option>
                        </select>
                    </div>

                  </div>

                  <h4><span style="font-weight: bold">Table Setting</span></h4>

                  <div class="col-sm-12">
                      <h5 class="col-sm-3" style="font-weight: bold;margin-left: 45px">Secondary indexes</h5>
                  </div>

                  <div class="col-sm-12">
                    <div class="col-sm-offset-2 col-sm-8"  style="margin-bottom: 15px">
                      <table id="gsi-table" class="table table-hover table-condensed table-bordered">
                        <tr class="warning" style="font-weight: bold">
                            <td>Name</td>
                            <td>Type</td>
                            <td>Partition key</td>
                            <td>Sort key</td>
                            <td>Projected Attributes</td>
                        </tr>
                      </table>

                      <span><a data-toggle="modal" data-target="#gsi-modal">+ Add index</a></span>
                    </div>
                  </div>

                  <div class="form-group">
                    <label for="inputRegion" class="col-sm-2 control-label">地区  *</label>
                    <span style="margin-left: 16px">
                        <select id="inputRegion" class="selectpicker" data-width="200px">
                          <option value ="us-east-1">US East (N. Virginia)</option>
                          <option value ="eu-central-1">EU (Frankfurt)</option>
                          <option value ="ap-northeast-1">Asia Pacific (Tokyo)</option>
                        </select>
                    </span>
                  </div>

                  <div class="form-group">
                    <label for="inputProject" class="col-sm-2 control-label">所属项目  *</label>
                    <span style="margin-left: 16px">
                        <select id="inputProject" class="selectpicker" data-width="100px">
                          <option value ="odp3">odp3</option>
                          <option value ="pay3">pay3</option>
                        </select>
                    </span>
                  </div>

                  <div class="form-group">
                    <label for="inputToken" class="col-sm-2 control-label">Token  *</label>
                    <div class="col-sm-3">
                      <input id="inputToken" type="password" class="form-control" placeholder="输入提供的Token" name="Token">
                    </div>
                  </div>

                  <div class="form-group">
                    <div class="col-sm-offset-3">
                      <button id="submit" type="button" class="btn btn-default">点击创建</button>
                    </div>
                  </div>
                </form>
            </div>
        </div>
    </div>

    <script src="static/jquery.min.js"></script>
    <script src="static/bootstrap.min.js"></script>
    <script src="static/bootstrap-select.min.js"></script>
    <script>
        function show_add_sort_key(sort_check_class, sort_key_class) {
          $("." + sort_check_class).click(function () {
              if ( $("." + sort_check_class).is(":checked") == true) {
                  $("." + sort_key_class).css('display','block');
                }else {
                  $("." + sort_key_class).css('display','none');
              }
          })
        }

        function modalSave() {
            var gsi_primary_key = $('#mdInputPrimaryKey').val()
            var gsi_primary_key_type = $('#mdPrimaryKeyType').val()
            var gsi_sort_key = $('#mdInputSortKey').val()
            var gsi_name = $('#mdIndexName').val()
            var gsi_pro_attr = $('#mdProAttr').val()

            if (gsi_sort_key){
                var gsi_sort_key_type = $('#mdSortKeyType').val()
            }else {
                var gsi_sort_key_type = '-'
            }

            if (gsi_primary_key && gsi_name){
                if (gsi_sort_key) {
                    gsi[gsi_name] = {
                        'PrimaryKey': {'name': gsi_primary_key, 'type': gsi_primary_key_type},
                        'SortKey': {'name': gsi_sort_key, 'type': gsi_sort_key_type},
                        'ProAttr': gsi_pro_attr
                    }
                }else {
                    gsi[gsi_name] = {
                        'PrimaryKey': {'name': gsi_primary_key, 'type': gsi_primary_key_type},
                        'ProAttr': gsi_pro_attr
                    }
                }
                function addTd(text) {
                    var td = document.createElement('td')
                    var td_text = document.createTextNode(text)
                    td.appendChild(td_text)
                    tr.appendChild(td)
                }
                function swipeVal() {
                    $('#mdInputPrimaryKey').val('');
                    $('#mdInputSortKey').val('');
                    $('#mdIndexName').val('');
                    $('#md-sort-check').prop('checked', false)
                    $('.md-sort-key').css('display','none');
                }
                var tr = document.createElement('tr')
                addTd(gsi_name)
                addTd('GSI')
                addTd(gsi_primary_key + '(' + gsi_primary_key_type + ')')
                addTd(gsi_sort_key + '(' + gsi_sort_key_type + ')')
                addTd(gsi_pro_attr)
                $('#gsi-table').append(tr)
                swipeVal();
                $('.modal').modal('hide')
{#                console.log(gsi_name,gsi_primary_key,gsi_primary_key_type,gsi_sort_key,gsi_sort_key_type,gsi_pro_attr)#}

            }else {
                alert('分区键和索引名称不能为空。')
            }
        }

        function submitData() {
            $('#submit').html('<span class="glyphicon glyphicon-refresh"></span>创建中，请稍后...')
            var tableName = $('#inputTableName').val()
            var primaryKey = $('#inputPrimaryKey').val()
            var primaryKeyType = $('#PrimaryKeyType').val()
            var region = $('#inputRegion').val()
            var project = $('#inputProject').val()
            var token = $('#inputToken').val()

            var tableSortKey = $('#inputSortKey').val()
            var tableSortKeyType = $('#SortKeyType').val()

            var postData = {
                'token': token,
                'region': region,
                'project': project,
                'table': {
                    'name': tableName,
                    'PrimaryKey': {'name': primaryKey, 'type': primaryKeyType},
                    'gsi': gsi
                }
            }

            if (tableSortKey) {
                postData['table']['SortKey'] = {'name': tableSortKey, 'type': tableSortKeyType}
            }

            $.ajax({
                type: 'POST',
                url: '/api',
                data: {'data': JSON.stringify(postData)},
                success: function (result) {
                    alert(result)
                    $('#submit').html('点击创建')
                }
            })
        }
        show_add_sort_key('sort-check', 'sort-key')
        show_add_sort_key('md-sort-check', 'md-sort-key')

        var gsi = {}
        $('#mdSave').click(modalSave)
        $('#submit').click(submitData)
    </script>
</body>
</html>